---
import Icon from "../atoms/Icon.astro";


const { title, content, icon = null, customClasses = '', index } = Astro.props;
---

<div class={`accordion-item border-b border-gray-300 ${customClasses}`}>
  <button
    class="accordion-header w-fit text-left px-4 py-2 focus:outline-none flex items-center"
    data-index={index}
  >
    {icon && <Icon src={icon} className="accordion-icon mr-2" />}
    <span>{title}</span>
    <span class="accordion-arrow ml-auto">▼</span>
  </button>
  <div class="accordion-content hidden px-4 py-2" data-index={index}>
    {content}
  </div>
</div>

<style>
  .accordion-item {
    @apply border-b border-gray-200;
  }
  .accordion-header {
    display: flex;
    align-items: center;
  }
  .accordion-arrow {
    margin-left: auto;
    transition: transform 0.3s ease;
  }
</style>
