---
import Icon from '../atoms/Icon.astro';

interface Props {
  label: string;
  href: string;
  icon?: string; // Optional icon (e.g., FontAwesome class or URL to image)
}

const { label, href, icon } = Astro.props;
---

<a href={href} class="footer-link flex items-center hover:underline space-x-2  hover:text-blue-500 transition-colors duration-200" aria-label={label}>
  {icon && <Icon src={icon} alt={`${label} icon`} className="w-4 h-4" />}
  <span>{label}</span>
</a>
