---
import ImageComponent from '../atoms/ImageComponent.astro';
import Icon from '../atoms/Icon.astro';
import Button from '../atoms/Button.astro';

interface Props {
  title: string;
  description: string;
  iconUrl: string;
  coverImageUrl: ImageMetadata;
  linkUrl: string;
  supportDetails?: { icon: string; text: string }[];
}

const { title, description, iconUrl, coverImageUrl, linkUrl, supportDetails = [] } = Astro.props;
---

<div class=" max-w-sm bg-white rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 ease-in-out overflow-hidden">
  <!-- Full-width Image without padding/margin -->
  <ImageComponent src={coverImageUrl} alt={title} styleType="rounded" width={400} height={200} />

  <!-- Main Icon Positioned Directly Under Image -->
  <div class=" my-4 p-3 flex justify-center items-center gap-4">
    <Icon src={iconUrl} alt={title} className="h-10 w-10" color="blue" />
     <!-- Title of the Service -->
  <h3 class="title text-xl font-semibold text-blue-600 mb-2 text-center">{title}</h3>
  </div>

 

  <!-- Description of the Service -->
  <p class="description text-gray-700 text-center mb-4 p-2">{description}</p>
 
  <!-- Support Details as List of Icon and Text Pairs -->
  {supportDetails.length > 0 && (
    <ul class="list-none mb-6 flex flex-col items-center space-y-4">
      {supportDetails.map(detail => (
        <li class="flex items-center justify-center space-x-3 w-full text-center">
          <Icon src={detail.icon} alt={detail.text} className="h-6 w-6" color="black" />
          <span class="text-sm text-gray-600">{detail.text}</span>
        </li>
      ))}
    </ul>
  )}

  <!-- Enhanced Button using Button Component -->
  <Button 
    label="En savoir plus"
    iconSrc="/icons/navigation/dropdown.svg"
    iconAlt="Arrow Right"
    iconPosition="right"
    variant="muted"
    className="mx-auto mb-4"
    href={linkUrl} 
  />
</div>
