---
import Button from '../atoms/Button.astro';
import ImageComponent from '../atoms/ImageComponent.astro';
import NavbarItem from '../molecules/NavbarItem.astro';


const {links, imageSrc, ImageAlt, ButtonProps, className }= Astro.props;

interface Props {
  imageSrc?:ImageMetadata;         
  imageAlt?: string;           
  buttonProps?: ButtonProps;   
  className?: string;          
  [key: string]: any;          
}
type NavItem =[
{
  label: string;
  href: string;
  subitems: {label:string ,href:string}[];
  icon: string
}
]
type ButtonProps = {
  label: string;
  iconSrc?: string;
  iconAlt?: string;
  iconPosition?: 'left' | 'right';
  variant?: 'default' | 'muted' | 'primary' | 'alternative';
  className?: string;
  [key: string]: any; // Pour des attributs additionnels
};



---

<navbar class="flex justify-between  items-center bg-white  px-12  px-4 sticky top-0 shadow">
            <ImageComponent 
            src={imageSrc}
            alt={ImageAlt}
            styleType="rounded"
            width={75}
            height={75}
            />
            
           <!-- Navbar Links -->
          <div class="flex space-x-4">
            {links.map((link: { label: string; href: string; icon: string; subitems: any[]; }) => (
              <div class="relative group">
                <!-- Main Nav Item with Icon -->
                <NavbarItem label={link.label} href={link.href} icon={link.icon} />

                <!-- Dropdown for Subitems -->
                {link.subitems && (
                  <div class="absolute left-0 w-max top-full  hidden group-hover:flex flex-col bg-white shadow-lg rounded-md">
                    {link.subitems.map((subitem: { label: string; href: string; icon: string; }) => (
                      <NavbarItem label={subitem.label} href={subitem.href} icon={subitem.icon} />
                    ))}
                  </div>
                )}
              </div>
            ))}
          </div>
                <Button 
                    label={ButtonProps?.label}           
                    iconSrc={ButtonProps?.iconSrc}
                    iconAlt={ButtonProps?.iconAlt}
                    iconPosition= 'left' 
                    variant= 'muted'
                    className= ""  
                 />
         
</navbar>
